@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
	font-family: 'Lilita One', cursive;
}

.card {
	background: rgba( 255, 255, 255, 0.25 );
	backdrop-filter: blur( 3px );
	-webkit-backdrop-filter: blur( 3px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}
